
.header-wrapper {
    display: flex;
    align-items: center;
    background-color:#f0f0c6;
    max-width: 1920px;
    width: 100%;
}
.nav-bar {
    max-width: 1367px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.ul-bar  {
    width: 70%;
    display: flex;
    justify-content:space-around;
}
.navbar-li {
    color: black;
}
.container1 {
    padding: 20px;
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products {
    max-width: 202px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:2;
    background-color:rgb(240, 240, 198);
    margin-top: 40px;
}
.productimg {
    max-width: 200px;
    width: 100%;
}
.flex {
    display: flex;
}
.container2 {
    padding: 20px;
    max-width: 667px;
    width: 100%;
    
}
.name{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
}
.price {
    margin-top: 40px;
    display: flex;
}
h2 {
    margin-top: 60px;
}
.total-price{
    max-width: 351px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;

}

.h2tags{
    margin-top: 40px;
    margin-left: 120px;
    display: flex;
    max-width: 351px;
    width: 100%;
    justify-content: space-between;
}
.h2tag{
    font-size: 14px;
    border-bottom: black solid;
}
#productsul {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.total-price{
    margin-left: 120px;
}
.names-li {
    margin-left:120px;
}
#finalresult {
    border-bottom: black solid;
}
.footer-wrapper{
    display: flex;
    background-color:rgb(240, 240, 198); 
    height: 200px;
    margin-bottom: -40px;
    align-items: center;
    justify-content: space-around;
}
.icons {
    margin-left: 20px;
}
.line-height{
    line-height: 2;
}
.container3{
    max-width: 1920px;
    width: 100%;
    margin-top: 50px;
}

@media only screen and (max-width:1100px) {
    .h2tags {
        margin-left: 0;
    }
    .names-li {
        margin-left: 0;
    }
    .total-price {
        margin-left: 0;
    }

}
